Repository teleporthq/teleport-code-generators, pull requests merged in 2019-05, with the labels that each got.

#201 fix(style-flavours): Fixed style flavours w.r.t to their behaviour
  __tests__/integration/component-assignments/component-with-valid-state-reference.json
  __tests__/integration/component-assignments/style-values.ts
  src/plugins/teleport-plugin-react-css-modules/index.ts
  src/plugins/teleport-plugin-react-inline-styles/index.ts
  src/plugins/teleport-plugin-react-jss/index.ts
Labels: discussion, react generators, style flavours

#195 Feature/teleport plugin styled components
  __tests__/integration/component-assignments/component-with-invalid-state-styles.json
  __tests__/integration/component-assignments/component-with-nested-multiple-prop-ref-styles.json
  __tests__/integration/component-assignments/component-with-nested-single-prop-ref-styles.json
  __tests__/integration/component-assignments/component-with-valid-single-prop-style.json
  __tests__/integration/component-assignments/style-values.ts
  src/component-generators/react/react-component.ts
  src/plugins/teleport-plugin-react-styled-components/index.ts
  src/plugins/teleport-plugin-react-styled-components/utils.ts
  src/shared/utils/ast-jsx-utils.ts
Labels: react generators, style flavours

#216 fix(react-styled-components): Fixed of adding styled by default
  packages/teleport-component-generator-react/__tests__/end2end/index.ts
  packages/teleport-generator-shared/src/builders/uidl-builders.ts
  packages/teleport-plugin-react-styled-components/__tests__/index.ts
  packages/teleport-plugin-react-styled-components/src/index.ts
Labels: bug, style flavours

#219 refactor(generator-core): Schema to support array as a default value
  packages/teleport-generator-core/src/uidl-schemas/component.json
Labels: uidl

#212 Handling no-element tags as root nodes for generating components
  packages/teleport-component-generator-react/__tests__/end2end/index.ts
  packages/teleport-component-generator-react/__tests__/integration/component-non-element-root.ts
  packages/teleport-component-generator-react/__tests__/integration/component-with-conditional-root-array-child-node.json
  packages/teleport-component-generator-react/__tests__/integration/component-with-conditional-root-string-child-node.json
  packages/teleport-generator-shared/src/utils/ast-jsx-utils.ts
  packages/teleport-plugin-react-base-component/src/index.ts
  packages/teleport-plugin-react-base-component/src/utils.ts
Labels: bug, react generators

#223 Fix/#175 file names
  examples/uidl-samples/project.json
  packages/teleport-component-generator/src/index.ts
  packages/teleport-generator-core/src/resolver/index.ts
  packages/teleport-generator-core/src/resolver/utils.ts
  packages/teleport-generator-shared/__tests__/utils/string-utils.ts
  packages/teleport-generator-shared/src/utils/string-utils.ts
  packages/teleport-plugin-react-css-modules/src/index.ts
  packages/teleport-plugin-react-jss/src/index.ts
  packages/teleport-plugin-react-styled-components/src/index.ts
  packages/teleport-plugin-react-styled-components/src/utils.ts
  packages/teleport-plugin-react-styled-jsx/src/index.ts
  packages/teleport-plugin-vue-base-component/src/utils.ts
  packages/teleport-plugin-vue-css/src/index.ts
  packages/teleport-project-generator-react-next/__tests__/end2end/index.ts
  yarn.lock
Labels: bug

#221 feat(plugin-react-proptypes): Added isRequired attribute for proptypes
  packages/teleport-component-generator-react/__tests__/integration/component-non-element-root.ts
  packages/teleport-generator-core/src/uidl-schemas/component.json
  packages/teleport-generator-shared/src/typings/uidl.ts
  packages/teleport-plugin-react-proptypes/__tests__/index.ts
  packages/teleport-plugin-react-proptypes/src/index.ts
  packages/teleport-plugin-react-proptypes/src/utils.ts
  packages/teleport-plugin-vue-base-component/src/utils.ts
Labels: bug, uidl

#225 feat(proj-gen): reusing linker functionality + formatting from generic component generators
  packages/teleport-component-generator/src/index.ts
  packages/teleport-generator-core/package.json
  packages/teleport-generator-core/src/builder/generators/html-to-string.ts
  packages/teleport-generator-core/src/builder/generators/js-ast-to-code.ts
  packages/teleport-generator-core/src/builder/index.ts
  packages/teleport-generator-shared/__tests__/utils/project-utils.ts
  packages/teleport-generator-shared/package.json
  packages/teleport-generator-shared/src/typings/generators.ts
  packages/teleport-generator-shared/src/utils/project-utils.ts
  packages/teleport-project-generator-react-basic/package.json
  packages/teleport-project-generator-react-basic/src/component-generators.ts
  packages/teleport-project-generator-react-basic/src/component-generators/router-component.ts
  packages/teleport-project-generator-react-basic/src/index.ts
  packages/teleport-project-generator-react-basic/src/utils.ts
  packages/teleport-project-generator-react-next/package.json
  packages/teleport-project-generator-react-next/src/component-generators.ts
  packages/teleport-project-generator-react-next/src/index.ts
  packages/teleport-project-generator-react-next/src/utils.ts
  packages/teleport-project-generator-vue-basic/package.json
  packages/teleport-project-generator-vue-basic/src/component-generators.ts
  packages/teleport-project-generator-vue-basic/src/component-generators/router-component.ts
  packages/teleport-project-generator-vue-basic/src/index.ts
  packages/teleport-project-generator-vue-basic/src/utils.ts
  packages/teleport-project-generator-vue-nuxt/package.json
  packages/teleport-project-generator-vue-nuxt/src/component-generators.ts
  packages/teleport-project-generator-vue-nuxt/src/index.ts
Labels: core, refactoring

#227 feat(navlinks): transitionTo can now refer to the state key, not the url
  examples/uidl-samples/project.json
  packages/teleport-generator-core/__tests__/resolver/utils.ts
  packages/teleport-generator-core/src/resolver/index.ts
  packages/teleport-generator-core/src/resolver/utils.ts
  packages/teleport-generator-shared/src/typings/generators.ts
  packages/teleport-generator-shared/src/utils/project-utils.ts
  packages/teleport-project-generator-react-basic/src/index.ts
  packages/teleport-project-generator-react-next/src/index.ts
  packages/teleport-project-generator-vue-basic/src/index.ts
  packages/teleport-project-generator-vue-nuxt/src/index.ts
Labels: enhancement

#228 chore: add tests for plugins and generic component generator
  jest.config.js
  packages/teleport-component-generator/__tests__/index.ts
  packages/teleport-component-generator/src/index.ts
  packages/teleport-generator-core/src/assembly-line/index.ts
  packages/teleport-generator-shared/__tests__/builders/uidl-builders.ts
  packages/teleport-plugin-import-statements/__tests__/index.ts
  packages/teleport-plugin-react-app-routing/__tests__/index.ts
  packages/teleport-plugin-react-base-component/__tests__/index.ts
  packages/teleport-plugin-react-css-modules/__tests__/index.ts
  packages/teleport-plugin-react-inline-styles/__tests__/index.ts
  packages/teleport-plugin-react-jss/__tests__/index.ts
  packages/teleport-plugin-react-styled-components/__tests__/index.ts
  packages/teleport-plugin-react-styled-jsx/__tests__/index.ts
  packages/teleport-plugin-vue-app-routing/__tests__/index.ts
  packages/teleport-plugin-vue-base-component/__tests__/index.ts
  packages/teleport-plugin-vue-css/__tests__/index.ts
  packages/teleport-plugin-vue-css/src/index.ts
  packages/teleport-project-packer-test/README.md
  packages/teleport-project-packer-test/package.json
  packages/teleport-project-packer-test/src/index.ts
  packages/teleport-project-packer-test/tsconfig.json
  yarn.lock
Labels: dev experience

#231 fix(vue-base-component): Support for nested conditionals in Vue
  packages/teleport-plugin-vue-base-component/src/utils.ts
  packages/teleport-project-packer-test/src/index.ts
Labels: bug, vue generators
