Repository teleporthq/teleport-code-generators, pull requests merged in 2019-11, with the labels that each got.

#401 refactor(module-angular): switching to modern syntax for lazy loading
  packages/teleport-plugin-angular-module/src/utils.ts
Labels: angular generators

#402 refactor(project-template): updating angular project-template
  packages/teleport-project-generator-angular/src/project-template.ts
Labels: angular generators

#413 new function for html encoding
  packages/teleport-plugin-common/src/node-handlers/node-to-html/index.ts
  packages/teleport-plugin-common/src/node-handlers/node-to-html/utils.ts
  packages/teleport-plugin-common/src/node-handlers/node-to-jsx/index.ts
  packages/teleport-plugin-common/src/utils/ast-utils.ts
  packages/teleport-shared/__tests__/utils/string-utils.ts
  packages/teleport-shared/src/utils/string-utils.ts
Labels: enhancement

#414 fix: name cleanup and dependency import in module fix
  packages/teleport-plugin-angular-base-component/src/utils.ts
  packages/teleport-plugin-angular-module/__tests__/index.ts
  packages/teleport-plugin-angular-module/src/index.ts
  packages/teleport-plugin-angular-module/src/utils.ts
  packages/teleport-publisher-now/src/utils.ts
  packages/teleport-shared/src/utils/uidl-utils.ts
Labels: angular generators

#415 fix(styled-comp): appending prefix when name clashes
  packages/teleport-plugin-react-styled-components/src/index.ts
Labels: style flavours

#416 chore(project-template): upgrading preact to preactX
  packages/teleport-project-generator-preact/src/project-template.ts
Labels: preact generators

#417 feat: publishers throw relevant errors
  packages/teleport-code-generator/__tests__/index.ts
  packages/teleport-code-generator/src/index.ts
  packages/teleport-project-packer/__tests__/index.ts
  packages/teleport-project-packer/src/constants.ts
  packages/teleport-project-packer/src/errors.ts
  packages/teleport-project-packer/src/index.ts
  packages/teleport-publisher-codesandbox/src/index.ts
  packages/teleport-publisher-codesandbox/src/utils.ts
  packages/teleport-publisher-disk/__tests__/index.ts
  packages/teleport-publisher-disk/src/errors.ts
  packages/teleport-publisher-disk/src/index.ts
  packages/teleport-publisher-github/__tests__/index.ts
  packages/teleport-publisher-github/src/errors.ts
  packages/teleport-publisher-github/src/index.ts
  packages/teleport-publisher-now/__tests__/index.ts
  packages/teleport-publisher-now/src/errors.ts
  packages/teleport-publisher-now/src/index.ts
  packages/teleport-publisher-now/src/utils.ts
  packages/teleport-publisher-zip/__tests__/index.ts
  packages/teleport-publisher-zip/src/errors.ts
  packages/teleport-publisher-zip/src/index.ts
  packages/teleport-types/src/errors.ts
  packages/teleport-types/src/generators.ts
  packages/teleport-types/src/index.ts
  packages/teleport-uidl-validator/__tests__/validator/index.ts
  packages/teleport-uidl-validator/src/validator/index.ts
  packages/teleport-uidl-validator/src/validator/utils.ts
  tslint.json
Labels: enhancement
