Repository teleporthq/teleport-code-generators, pull requests merged in 2019-09, with the labels that each got.

#358 feat(publisher): codesandbox integration added
  packages/teleport-code-generator/package.json
  packages/teleport-code-generator/src/index.ts
  packages/teleport-code-generator/src/types.ts
  packages/teleport-publisher-codesandbox/README.md
  packages/teleport-publisher-codesandbox/package.json
  packages/teleport-publisher-codesandbox/src/constants.ts
  packages/teleport-publisher-codesandbox/src/index.ts
  packages/teleport-publisher-codesandbox/src/utils.ts
  packages/teleport-publisher-codesandbox/tsconfig-cjs.json
  packages/teleport-publisher-codesandbox/tsconfig-esm.json
  packages/teleport-test/package.json
  packages/teleport-test/src/standalone.ts
Labels: packer

#357 feat(angular-module-gen): Project Generator for Angular using default angular-cli template
  packages/teleport-code-generator/package.json
  packages/teleport-code-generator/src/index.ts
  packages/teleport-code-generator/src/types.ts
  packages/teleport-component-generator-angular/__tests__/integration/component-repeat.ts
  packages/teleport-plugin-angular-base-component/src/index.ts
  packages/teleport-plugin-angular-base-component/src/utils.ts
  packages/teleport-plugin-angular-module/README.md
  packages/teleport-plugin-angular-module/package.json
  packages/teleport-plugin-angular-module/src/constants.ts
  packages/teleport-plugin-angular-module/src/index.ts
  packages/teleport-plugin-angular-module/src/utils.ts
  packages/teleport-plugin-angular-module/tsconfig-cjs.json
  packages/teleport-plugin-angular-module/tsconfig-esm.json
  packages/teleport-project-generator-angular/README.md
  packages/teleport-project-generator-angular/package.json
  packages/teleport-project-generator-angular/src/angular-mapping.json
  packages/teleport-project-generator-angular/src/constants.ts
  packages/teleport-project-generator-angular/src/index.ts
  packages/teleport-project-generator-angular/src/project-template.ts
  packages/teleport-project-generator-angular/tsconfig-cjs.json
  packages/teleport-project-generator-angular/tsconfig-esm.json
  packages/teleport-project-generator-preact/src/index.ts
  packages/teleport-project-generator-stencil/src/index.ts
  packages/teleport-project-generator/__tests__/index.ts
  packages/teleport-project-generator/src/file-handlers.ts
  packages/teleport-project-generator/src/index.ts
  packages/teleport-project-generator/src/utils.ts
  packages/teleport-shared/src/node-handlers/node-to-html/constants.ts
  packages/teleport-shared/src/node-handlers/node-to-html/index.ts
  packages/teleport-shared/src/node-handlers/node-to-html/types.ts
  packages/teleport-test/package.json
  packages/teleport-test/src/constants.ts
  packages/teleport-test/src/packer.ts
  packages/teleport-test/src/standalone.ts
  packages/teleport-types/src/generators.ts
  packages/teleport-types/src/uidl.ts
Labels: angular generators

#361 tests(angular-module): adding test cases for Angular module generator
  packages/teleport-plugin-angular-base-component/__tests__/index.ts
  packages/teleport-plugin-angular-module/__tests__/index.ts
  packages/teleport-project-generator-angular/__tests__/end2end/index.ts
  packages/teleport-project-generator-angular/__tests__/end2end/template-definition.json
Labels: angular generators

#362 refactor: rename some fields and simplify logic for routing and paths
  examples/test-samples/project-invalid-sample.json
  examples/test-samples/project-sample.json
  examples/uidl-samples/project.json
  packages/teleport-code-generator/__tests__/index.ts
  packages/teleport-code-generator/src/index.ts
  packages/teleport-component-generator-react/__tests__/integration/component-style.ts
  packages/teleport-component-generator/__tests__/resolver/utils.ts
  packages/teleport-component-generator/src/index.ts
  packages/teleport-component-generator/src/resolver/utils.ts
  packages/teleport-plugin-angular-module/__tests__/index.ts
  packages/teleport-plugin-angular-module/src/index.ts
  packages/teleport-plugin-angular-module/src/utils.ts
  packages/teleport-plugin-css-modules/__tests__/index.ts
  packages/teleport-plugin-css-modules/src/index.ts
  packages/teleport-plugin-react-app-routing/src/index.ts
  packages/teleport-plugin-stencil-app-routing/src/index.ts
  packages/teleport-plugin-stencil-app-routing/src/utils.ts
  packages/teleport-plugin-vue-app-routing/src/index.ts
  packages/teleport-project-generator-angular/__tests__/end2end/index.ts
  packages/teleport-project-generator-next/src/index.ts
  packages/teleport-project-generator-nuxt/src/index.ts
  packages/teleport-project-generator/__tests__/index.ts
  packages/teleport-project-generator/src/file-handlers.ts
  packages/teleport-project-generator/src/index.ts
  packages/teleport-project-generator/src/utils.ts
  packages/teleport-publisher-codesandbox/__tests__/index.ts
  packages/teleport-publisher-codesandbox/__tests__/mocks.ts
  packages/teleport-publisher-codesandbox/__tests__/utils.ts
  packages/teleport-publisher-github/__tests__/index.ts
  packages/teleport-shared/__tests__/utils/uidl-utils.ts
  packages/teleport-shared/src/constants/index.ts
  packages/teleport-shared/src/utils/uidl-utils.ts
  packages/teleport-types/src/generators.ts
  packages/teleport-types/src/uidl.ts
  packages/teleport-uidl-validator/__tests__/validator/index.ts
  packages/teleport-uidl-validator/__tests__/validator/old-project-invalid-sample.json
  packages/teleport-uidl-validator/__tests__/validator/project-invalid-sample-no-route.json
  packages/teleport-uidl-validator/__tests__/validator/project-invalid-sample.json
  packages/teleport-uidl-validator/__tests__/validator/project-sample.json
  packages/teleport-uidl-validator/src/uidl-schemas/component.json
  packages/teleport-uidl-validator/src/uidl-schemas/project.json
  packages/teleport-uidl-validator/src/validator/utils.ts
  tsconfig.json
Labels: refactoring

#365 feat(angular-base): changing title for tab dynamically
  packages/teleport-plugin-angular-base-component/src/constants.ts
  packages/teleport-plugin-angular-base-component/src/index.ts
  packages/teleport-plugin-angular-base-component/src/utils.ts
  packages/teleport-plugin-vue-head-config/src/index.ts
  packages/teleport-postprocessor-prettier-js/src/index.ts
  packages/teleport-types/src/uidl.ts
Labels: angular generators

#371 feat(stencil-base): changing title tag for stencil dynamically
  packages/teleport-plugin-stencil-base-component/src/index.ts
Labels: stencil generators
